body {
    background-color: #dfdfdf;
}
header {
    height: 15vh;
    /*background-color: aqua;*/
    text-align: center;
    text-decoration: none;
}
a {
    text-decoration: none;
}
ul#header1 li{
    list-style-type:none;
    display:inline;
    margin: 20px 35px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
p.about_me {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}
ul.skills_wanted {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
li.jobs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;

}
.jobs_description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
#contact {
    height: 15vw;
    /*background-color: aqua;*/
}
ul#footer1 li{
    list-style-type: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 5px;
}
#form {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    background-color: grey;

}
#name #email #msg_me {
    width: 400px;
}

@media screen and (max-width: 375px){
    #msg_me {
        width: 100%;
    }
    #name {
        width: 100%;
    }
    #email {
        width: 100%;
    }
    #message {
        width: 100%;
    }
}